In [1]:
author="Jumabek Alikhanov"
date = 'Nov 17,2019'

This is Final Project material for the "Deep Learning" class I took

## Download the dataset from https://www.unb.ca/cic/datasets/ids-2017.html
We only need CSV files that is preprocessed and labeled for ML

In [2]:
#imports
import os
from os.path import join
import glob
import pandas as pd
import numpy as np
import time
%load_ext autoreload

In [3]:
# load data
dataroot = 'MachineLearningCVE/'
SEED =2 
np.random.seed(SEED)

In [5]:
from preprocessing import read_data
data = read_data(dataroot,'*.pcap_ISCX.csv')

MachineLearningCVE/*.pcap_ISCX.csv

/home/juma/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/juma/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
num_records,num_features = data.shape
print("{} flow records read which has {} feature dimension".format(num_records,num_features))
# there is white spaces in columns names e.g. ' Destination Port'
# So strip the whitespace from  column names
data = data.rename(columns=lambda x: x.strip())

2830743 flow records read which has 79 feature dimension

In [7]:

df_label = data['Label']
# dropping bad columns, they coause issues due to large numbers
data = data.drop(columns=['Flow Packets/s','Flow Bytes/s','Label'])
#filling missing features
data.fillna(data.mean(), inplace=True)

In [8]:
#convert data to numeric
data = data.astype(float).apply(pd.to_numeric)

In [9]:
# lets count if there is NaN values in our dataframe( AKA missing features)
#we should see `0`
data.isnull().sum().sum()

0

In [10]:
data.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
0,22.0,1266342.0,41.0,44.0,2664.0,6954.0,456.0,0.0,64.975610,109.864573,...,24.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22.0,1319353.0,41.0,44.0,2664.0,6954.0,456.0,0.0,64.975610,109.864573,...,24.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22.0,160.0,1.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22.0,1303488.0,41.0,42.0,2728.0,6634.0,456.0,0.0,66.536585,110.129945,...,24.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35396.0,77.0,1.0,2.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# print label distribution
pd.DataFrame(df_label.value_counts()).to_csv(join(dataroot,'class_distribution.csv'))
df_label.value_counts()

BENIGN                        2273097
DoS Hulk                       231073
PortScan                       158930
DDoS                           128027
DoS GoldenEye                   10293
FTP-Patator                      7938
SSH-Patator                      5897
DoS slowloris                    5796
DoS Slowhttptest                 5499
Bot                              1966
Web Attack ï¿½ Brute Force         1507
Web Attack ï¿½ XSS                  652
Infiltration                       36
Web Attack ï¿½ Sql Injection         21
Heartbleed                         11
Name: Label, dtype: int64